<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">EDUCAPARÁ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll" *ngIf="!(user | async)?.displayName">
          <a href="#login">Login</a>
        </li>
        <li class="page-scroll" *ngIf="(user | async)?.displayName">
          <a href="#portfolio">Aulas</a>
        </li>
        <li class="page-scroll">
          <a href="#about">Quem Somos</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contato</a>
        </li>
        <li class="page-scroll" *ngIf="(user | async)?.photoURL">
          <img style="width: 50px" src="{{ (user | async)?.photoURL }}" alt="{{ (user | async)?.displayName }}" width="60" class=" img-circle img-responsive d-flex mr-3">
        </li>

        <li class="page-scroll" *ngIf="(user | async)?.displayName">
          <a href="#" (click)="sair()">Sair</a>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-circle img-responsive" src="assets/img/logo-med.png" alt="Logo Ufra Ver-o-Sol">
        <div class="intro-text">
          <h1 class="name">Sejam Bem Vindos</h1>
          <hr class="star-light">
          <span class="skills"><em>O <strong>EducaPará</strong> é um porta voltado para quem tem vontade de aprender tudo que é novidade hoje em dia, no momento é uma fonte de conhecimento que auxiliar os alunos do Projeto <strong>Ver-o-Sol</strong> com parceria com a <strong>Ufra</strong></em></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Login Grid Section -->
<section id="login" *ngIf="!(user | async)?.displayName">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Login</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row justify-content-center">
      <button (click)="loginFacebook()" class="btn btn-block btn-facebook btn-lg">
        <i class="fa fa-facebook fa-fw"></i> Login com Facebook
      </button>
    </div>
    <br/>
    <div class="row justify-content-center">
      <button (click)="loginGoogle()" class="btn btn-block btn-google btn-lg">
        <i class="fa fa-google fa-fw"></i> Login com Google
      </button>
    </div>
    <br/>
    <div class="row justify-content-center">
      <button (click)="abreLogin = !abreLogin" class="btn btn-block btn-mail btn-lg">
        <i class="fa fa-envelope fa-fw"></i> Login com Email
      </button>
    </div>
    <div class="row" *ngIf="abreLogin">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
    
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" required data-validation-required-message="Por favor informe seu email.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">Senha</label>
              <input type="password" rows="5" class="form-control" placeholder="Senha" [(ngModel)]="senha" required data-validation-required-message="Por favor informe a sua menssagem.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button (click)="loginEmail()" class="btn btn-block btn-success btn-lg">
                <i class="fa fa-paper-plane fa-fw"></i> Enviar
              </button>
            </div>
          </div>
        
      </div>
    </div>
    <br/>
    <div class="row justify-content-center">
      <button (click)="abreCadastro = !abreCadastro" class="btn btn-block btn-user btn-lg">
        <i class="fa fa-user fa-fw"></i> Criar uma conta
      </button>
    </div>

    <div class="row" *ngIf="abreCadastro">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
       
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Nome</label>
              <input type="text" class="form-control" placeholder="Nome*" [(ngModel)]="nome" required data-validation-required-message="Por favor informe seu nome.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email*" [(ngModel)]="email" required data-validation-required-message="Por favor informe seu email.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">Senha</label>
              <input type="password" rows="5" class="form-control" placeholder="Senha*" [(ngModel)]="senha" required data-validation-required-message="Por favor informe a sua menssagem.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">URL Imagem</label>
              <input type="text" class="form-control" placeholder="URL Imagem" id="urlImagem" [(ngModel)]="urlImagem">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button (click)="CadastroEmail()" class="btn btn-block btn-success btn-lg">
                <i class="fa fa-paper-plane fa-fw"></i> Enviar
              </button>
            </div>
          </div>
    
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" *ngIf="(user | async)?.displayName">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Material de Aulas</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a onclick="return false" href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula1.png" class="img-responsive" alt="aula1">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula2.png" class="img-responsive" alt="Slice of aula2">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula3.png" class="img-responsive" alt="aula3 tent">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula4.png" class="img-responsive" alt="aula4 controller">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula5.png" class="img-responsive" alt="aula5">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula6.png" class="img-responsive" alt="aula6">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/aula7.png" class="img-responsive" alt="aula7">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModalExtras" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/extras.png" class="img-responsive" alt="extras">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3-b4wcQdORTu8F__EYScmh9SghlPN1rcurDCwJI477n87Ew/viewform?usp=sf_link"
          target="_blank" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/img/portfolio/avaliacao.png" class="img-responsive" alt="avaliação">
        </a>
      </div>

    </div>
  </div>
</section>

<!-- Quem Somos Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Quem Somos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="thumbnail success">
          <img class="img-responsive" src="assets/img/jairo.png" alt="Jairo Sousa">
          <div class="caption text-center">
            <h3>Jairo Sousa</h3>
            <p>Bacharel em Sistemas de informação</p>
            <p>Universidade Federal Rural da Amazônia - Ufra</p>
            <p>2016</p>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="thumbnail success">
          <img class="img-responsive" src="assets/img/bab.png" alt="Barbara">
          <div class="caption text-center">
            <h3>Barbara Porfírio</h3>
            <p>Bacharel em Sistemas de informação</p>
            <p>Universidade Federal Rural da Amazônia - Ufra</p>
            <p>2016</p>

          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="thumbnail success">
          <img class="img-responsive" src="assets/img/jsf.png" alt="Jairo filho">
          <div class="caption text-center">
            <h3>Jairo Filho</h3>
            <p>Graduando em Ciencia da Computação</p>
            <p>Universidade Federal do Pará - Ufpa</p>
            <p>desde 2016</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Contato Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contato</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Nome</label>
              <input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor informe seu nome.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Por favor informe seu email.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone">Telefone</label>
              <input type="tel" class="form-control" placeholder="Telefone" id="phone" required data-validation-required-message="Por favor informe seu número de telefone.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="ano">Ano do Curso</label>
              <input type="text" class="form-control" placeholder="Ano do Curso" id="ano" required data-validation-required-message="Por favor informe o ano do curso.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">Mensagem</label>
              <textarea rows="5" class="form-control" placeholder="Descreva sua menssagem" id="message" required data-validation-required-message="Por favor informe a sua menssagem."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-block btn-success btn-lg">
                <i class="fa fa-paper-plane fa-fw"></i> Enviar
                  </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Realização</h3>
          <ul class="list-inline">
            <li>
              <a href="http://fundoverosol.belem.pa.gov.br/" target="_blank"><img class="img-responsive" src="assets/img/parceria.png" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Endereços na Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/groups/verosol012017/" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
            </li>

            <li>
              <a href="mailto:ufra.verosol@gmail.com" class="btn-social btn-outline"><span class="sr-only">Email</span><i class="fa fa-fw fa-envelope"></i></a>
            </li>

          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Parceria</h3>
          <ul class="list-inline">
            <li>
              <a href="https://novo.ufra.edu.br/" target="_blank"><img class="img-responsive" src="assets/img/logo-ufra.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Todos os direitos reservados &copy; Ufra Ver-o-Sol 2017
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 1</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula1.png" class="img-responsive img-centered" alt="">
            <p>Apresentação do Curso: professores, metodologia de estudo, obrigações e deveres, assiduidade, certificado, festa
              de confraternização</p>

            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/open?id=0B40NLptbO8hsMFNVQkJoU1pRcFk" target="_blank" class="list-group-item">
                <p>LIGAR E DESLIGAR O MICRO:</p>
                <p><strong>1.1 - Operação com computador.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/file/d/0B40NLptbO8hsUnlVLUlLZ1BYRm8/view?usp=sharing" target="_blank" class="list-group-item">
                <p>TECLADO E MOUSE:</p>
                <p><strong> 1.2 - Teclado e Mouse.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/file/d/0B40NLptbO8hsZVNfMXY0NUVFMjA/view?usp=sharing" target="_blank" class="list-group-item">
                <p>ATALHOS DO WINDOWS:</p>
                <p><strong> 1.2.1 – Atalhos de teclado do Windows.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0Bw6CEnO2kpOJdTlVd3c3SXVoOXM" target="_blank" class="list-group-item">
                <p>RESUMO DE INFORMATICA BÁSICA:</p>
                <p><strong> 1.2.2 – Informática Básica.pdf</strong></p>
              </a>

              <a href="https://www.sense-lang.org/typing/tutor/keyboardingPT.php?key=brasil" target="_blank" class="list-group-item">
                <p>TREINAMENTO:</p>
                <p><strong>Teclado</strong></p>
              </a>

              <a href=" http://evanilsonjogos.meusjogosonline.com/jogar.asp?id=3212954&jogo=jogar+Treinamento+no+mouse+online" target="_blank"
                class="list-group-item">
                <p>TREINAMENTO:</p>
                <p><strong>Mouse</strong></p>
              </a>


            </div>


            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>AULA 2</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula2.png" class="img-responsive img-centered" alt="">
            <p></p>

            <div class="list-group hidden-md">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsczZacTNrTThhdXc/view?usp=sharing" target="_blank" class="list-group-item">
                <p>HARDWARE E SOFTWARE:</p>
                <p><strong>2.1 - Hardware e Software.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/file/d/0B40NLptbO8hsUnlVLUlLZ1BYRm8/view?usp=sharing" target="_blank" class="list-group-item">
                <p>ESTABILIZADOR E NOBREAK:</p>
                <p><strong> 2.2 - Estabilizador_Nobreak.pdf</strong></p>
              </a>

              <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-fEQ8x-JQqeMjZYcEjtK54AJtQTW9DxAJJ500hOqhBUqN9A/viewform?usp=sf_link"
                target="_blank" class="list-group-item">
                <p>EXERCÍCIO ON LINE Nº 1:</p>
                <p><strong>INFORMÁTICA BÁSICA</strong></p>
              </a>

              <a href="https://docs.google.com/forms/d/e/1FAIpQLScvKUbJ9cZytbxrCIv4tcqyou7JGi3mzTgGGZEG0uBJiDotTA/viewform?usp=sf_link"
                target="_blank" class="list-group-item">
                <p>EXERCÍCIO ON LINE Nº 2:</p>
                <p><strong>INFORMÁTICA BÁSICA II</strong></p>
              </a>


            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
        <!--</div> -->
        <!--OCULTAR A DIV-->
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 3</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula3.png" class="img-responsive img-centered" alt="">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsQ21MLWM5TWRKQW8/view?usp=sharing" target="_blank" class="list-group-item">
                <p>INTERNET:</p>
                <p><strong>3.1 - Internet.pdf</strong></p>
              </a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScM0Pvgkd29JvAQPFFsirdUfDkyAy9JMJhqYZ4MjCOBopM9ow/viewform?usp=sf_link"
                target="_blank" class="list-group-item">
                <p>EXERCÍCIO ON LINE Nº 3:</p>
                <p><strong>INTERNET</strong></p>
              </a>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 4</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula4.png" class="img-responsive img-centered" alt="">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsRUl5c3NSU0x2WkU/view?usp=sharing" target="_blank" class="list-group-item">
                <p>WORD:</p>
                <p><strong>4.1 - Word.pdf</strong></p>
              </a>
              <a href="https://drive.google.com/open?id=0B40NLptbO8hsXzNCOXNDa2prV3M" target="_blank" class="list-group-item">
                <p>EXERCÍCIO:</p>
                <p><strong>4.2 - Exercícios word oficial.docx</strong></p>
              </a>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 5</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula5.png" class="img-responsive img-centered" alt="">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsZnN2aGhQZ3pHLTA/view?usp=sharing" target="_blank" class="list-group-item">
                <p>EXCEL:</p>
                <p><strong>5.1 - Excel.pdf</strong></p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsUlRtU3dzZnRDLUk/view?usp=sharing" target="_blank" class="list-group-item">
                <p>EXCEL:</p>
                <p><strong>5.2 - Exercício.xlsx</strong></p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsQks0a2tTdTdZbG8/view?usp=sharing" target="_blank" class="list-group-item">
                <p>EXCEL:</p>
                <p><strong>5.3 - Exercício.xlsx</strong></p>
              </a>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 6</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula6.png" class="img-responsive img-centered" alt="">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/file/d/0B40NLptbO8hsY0hTSFo1OGlQaTA/view?usp=sharing" target="_blank" class="list-group-item">
                <p>POWER POINT:</p>
                <p><strong>6.1 - PowerPoint.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsMjBCLXlzWHRjMGM" target="_blank" class="list-group-item">
                <p>POWER POINT:</p>
                <p><strong>6.2 - PowerPoint 2016 Ver-o-Sol.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsdnlVWFREVDBGRE0" target="_blank" class="list-group-item">
                <p>EXERCÍCIO POWER POINT:</p>
                <p><strong>6.3 - Exercicio_PowerPoint.docx</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsTk8tTkxnSUZNR2c" target="_blank" class="list-group-item">
                <p>POWER POINT:</p>
                <p><strong>6.4 - Apresentação Investimento.pptx</strong></p>
              </a>

              <a href="#" class="list-group-item active">
                <p>IMAGENS</p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsM0M3a0hNQlluMzQ" target="_blank" class="list-group-item">
                <p>IMAGEM 01:</p>
                <p><strong>POR DO SOL 1</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsX09lbDBTS2F1NXM" target="_blank" class="list-group-item">
                <p>IMAGEM 02:</p>
                <p><strong>POR DO SOL 2</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsbVdFUW84ZEJoQ0U" target="_blank" class="list-group-item">
                <p>IMAGEM 03:</p>
                <p><strong>UNIVERSO</strong></p>
              </a>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Aula 7</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/aula7.png" class="img-responsive img-centered" alt="">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/open?id=0B40NLptbO8hsZ2RYT3hKSjdlWUU" target="_blank" class="list-group-item">
                <p>MALA DIRETA:</p>
                <p><strong>7.1 - Mala Direta.pdf</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsSGVZTUJTZ3MxaUE" target="_blank" class="list-group-item">
                <p>BANCO DE DADOS:</p>
                <p><strong>7.2 - Banco_de_Dados.xlsx</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsSGVZTUJTZ3MxaUE" target="_blank" class="list-group-item">
                <p>CARTA DE COBRANÇA:</p>
                <p><strong>7.3 - Carta_Cobrança.docx</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hseVBFcW5OVlF6Y3c" target="_blank" class="list-group-item">
                <p>COMPRAS:</p>
                <p><strong>7.4 - Compras.docx</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsblFnZ0pfYmtNY0E" target="_blank" class="list-group-item">
                <p>EXERCÍCIO:</p>
                <p><strong>7.5 - Exercicio_MalaDireta.doc</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsRTkxTHMxNDBJWWs" target="_blank" class="list-group-item">
                <p>EXERCÍCIO:</p>
                <p><strong>7.6 - Mala direta_1.docx</strong></p>
              </a>

              <a href="https://drive.google.com/open?id=0B40NLptbO8hsUjlKQnduWFdTM0E" target="_blank" class="list-group-item">
                <p>BANCO DE DADOS:</p>
                <p><strong>7.7 - Tabela MalaDireta.xlsx</strong></p>
              </a>

            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModalExtras" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>

    <!--OCULTAR A DIV-->
    <!-- <div class="hidden-sm hidden-md hidden-lg hidden-xs"> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Extras</h2>
            <hr class="star-primary">
            <img src="assets/img/portfolio/extras.png" class="img-responsive img-centered" alt="Extras">
            <p></p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <p>ARQUIVOS PARA DOWNLOAD</p>
              </a>
              <a href="https://drive.google.com/open?id=0B40NLptbO8hsVm1KV0VJUlU1cUE" target="_blank" class="list-group-item">
                <p>CRIAR UMA CONTA DE EMAIL NO GOOGLE:</p>
                <p><strong>Criar conta de Email no Google.pdf</strong></p>
              </a>
              <a href="https://drive.google.com/file/d/0Bw6CEnO2kpOJdE1PaG1rUmxib0U/view?usp=sharing" target="_blank" class="list-group-item">
                <p>APOSTILA OFICIAL DO PROJETO VER-O-SOL:</p>
                <p><strong>Apostila de informatica 21-03-2014.pdf</strong></p>
              </a>
            </div>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--</div> -->
    <!--OCULTAR A DIV-->
  </div>
</div>